@tailwind base;

@layer base {
  h1 {
    @apply text-5xl font-semibold;
  }
  h2 {
    @apply text-4xl font-semibold;
  }
  h3 {
    @apply text-3xl font-semibold;
  }
  h4 {
    @apply text-2xl font-semibold;
  }
  h5 {
    @apply text-xl font-semibold;
  }
  h6 {
    @apply text-lg font-semibold;
  }
  body {
    font-size: 16px;
  }
  input,
  textarea {
    @apply outline-none border-none bg-transparent;
  }
  input:focus,
  textarea:focus {
    @apply border-gray-500;
  }
}

@tailwind components;
.container {
  @apply px-5;
}
.flex-center {
  @apply flex justify-center items-center;
}

.btn {
  @apply px-4 py-2 rounded-md  flex justify-center items-center  first-letter:uppercase hover:opacity-70;
}

.btn-black {
  @apply bg-black text-white rounded-full px-6 py-2;
}

.btn-icon {
  @apply w-[30px] h-[30px] p-0 text-black rounded-full hover:bg-gray-300;
}

.btn-trans:hover {
  @apply bg-gray-100 rounded-full transition-all ease-linear duration-100;
}

.btn-blue {
  @apply text-white bg-blue-500  hover:bg-blue-700;
}

.btn-white {
  @apply text-black bg-white  hover:bg-gray-300;
}

.btn-border {
  @apply border border-gray-400;
}

.btn-x {
  @apply w-[45px] h-[45px] rounded-full flex justify-center items-center text-xl;
}

.btn-primary {
  color: white;
  background: radial-gradient(
    circle at center,
    #ff385c 0%,
    #e61e4d 27.5%,
    #e31c5f 40%,
    #d70466 57.5%,
    #bd1e59 75%,
    #bd1e59 100%
  );
}

.animate {
  @apply transition-all ease-linear duration-300;
}

.btn-primary:hover {
  background: radial-gradient(
    circle at center,
    #fc3156 0%,
    #f11c4e 27.5%,
    #f1155f 40%,
    #ec0471 57.5%,
    #d31f61 75%,
    #cf175b 100%
  );
}

.btn.btn-loading {
  @apply cursor-not-allowed opacity-50;
}

.btn.btn-red {
  @apply bg-red-600 hover:opacity-70 text-white;
}

.btn.btn-loading:hover {
  @apply opacity-50;
}

.border-color {
  @apply border-solid border-gray-300;
}

.row {
  @apply flex flex-wrap -m-2;
}

.row-big {
  @apply flex flex-wrap -m-5;
}

.sub-gray {
  @apply font-light;
}

.one-line-max {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.three-line-max {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.shadow-box {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.hv-sd:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: all linear 0.3s;
}

.div-bd {
  @apply w-[1px] bg-gray-300;
}

.text_lines {
  white-space: pre-line;
}

.loading {
  @apply bg-slate-300;
}

input.input-err,
textarea.input-err {
  @apply border-red-500;
}

label.label-title {
  @apply font-semibold;
}

@tailwind utilities;

/* Custom swiper */

.swiper:hover .swiper-button-next {
  display: flex;
}

.swiper:hover .swiper-button-prev {
  display: flex;
}

.swiper-button-next,
.swiper-button-prev {
  width: 30px;
  height: 30px;
  background: white;
  border-radius: 50%;
  display: none;
  /* border: 1px solid black; */
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  opacity: 0.7;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 16px !important;
  color: black;
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  display: none !important;
}

.swiper-pagination-bullet {
  background: rgb(252, 250, 250);
  opacity: 0.5;
}

.swiper-pagination-bullet-active {
  background: white;
  opacity: 1;
}

/* Custom lazy loading */
.lazy-load-image-background img {
  height: 100%;
}

/* Custom calendar */
.react-calendar {
  border: unset;
}

abbr:where([title]) {
  text-decoration: unset !important;
  @apply text-gray-500;
}

.react-calendar button {
  @apply aspect-square rounded-full;
}

.react-calendar__tile:enabled:hover {
  border: 1px solid black;
  background-color: transparent;
}

.react-calendar__tile:enabled:focus {
  @apply bg-black text-white;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background: unset;
}

.react-calendar__navigation__label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.react-calendar__navigation__label {
  @apply flex items-center;
}

.react-calendar__navigation__label__labelText--from,
.react-calendar__navigation__label__labelText--to {
  @apply flex-1 font-bold;
}

.react-calendar__navigation__label__divider {
  @apply hidden;
}

#date_box .disable {
  opacity: 0.2;
  cursor: default;
}

#date_box .react-calendar {
  border: unset;
  width: 100%;
  background: unset;
}

#date_box .react-calendar__viewContainer {
  display: flex;
  justify-content: space-between;
}

#date_box .react-calendar__month-view__days__day--neighboringMonth {
  opacity: 0;
}

#date_box .react-calendar__month-view__days button {
  /* flex: unset !important; */
}

#date_box .enable {
  height: 50.28px;
}
#date_box .react-calendar__tile--active,
#date_box .react-calendar__tile--hasActive {
  background-color: black;
  border-radius: 50%;
  color: white;
}

#date_box .react-calendar__tile--active.react-calendar__tile:enabled:hover,
#date_box .react-calendar__tile--hasActive.react-calendar__tile:enabled:hover,
#date_box .react-calendar__tile--now.react-calendar__tile--hasActive,
#date_box .react-calendar__tile--active.react-calendar__tile {
  background-color: black;
  border-radius: 50%;
  color: white;
}

#date_box .disable.react-calendar__tile:enabled:hover {
  background-color: unset;
  border: unset;
}

#date_box .react-calendar__tile:enabled:hover {
  background-color: unset;
  border: 1px solid black;
  border-radius: 50%;
}

#date_box .react-calendar__year-view .react-calendar__tile {
  height: auto;
}

#date_box .react-calendar__tile--now {
  background-color: unset;
}

#date_box abbr:where([title]) {
  text-decoration: unset !important;
}

#date_box .react-calendar__tile:disabled{
  background: transparent;
  opacity: 0.3;
  text-decoration: line-through;
}

/* Animations */
@keyframes rotate {
  0%,
  10% {
    -webkit-transform: rotateY(0deg) rotateX(0deg);
    transform: rotateY(0deg) rotateX(0deg);
  }
  15%,
  20% {
    -webkit-transform: rotateY(180deg) rotateX(0deg);
    transform: rotateY(180deg) rotateX(0deg);
  }
  25%,
  35% {
    -webkit-transform: rotateY(180deg) rotateX(270deg);
    transform: rotateY(180deg) rotateX(270deg);
  }
  40%,
  50% {
    -webkit-transform: rotateY(180deg) rotateX(90deg);
    transform: rotateY(180deg) rotateX(90deg);
  }
  55%,
  65% {
    -webkit-transform: rotateY(-90deg) rotateX(90deg);
    transform: rotateY(-90deg) rotateX(90deg);
  }
  70%,
  80% {
    -webkit-transform: rotateY(90deg) rotateX(90deg);
    transform: rotateY(90deg) rotateX(90deg);
  }
  90%,
  95% {
    -webkit-transform: rotateY(0deg) rotateX(90deg);
    transform: rotateY(0deg) rotateX(90deg);
  }
}

@keyframes moveTop {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
